body{
    background-color: black;
    color: bisque;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#Emoji{
    font-size: 100;
    cursor: pointer;
    transition-property: transform,filter;
    transition-duration: 500ms;


}
#Emoji:hover{
    transform: scale(2);

}